.drp-dn-menu {
    align-items: flex-start;
    justify-content: left;
    background-color: #ffffff;
    width: fit-content;

}

.btn-stl {
    width: 150px;
    height: 30px;
}

.sel-col {
    width: 150px;
    height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}