.drp-dn-menu {
    position: fixed;
    align-items: flex-start;
    justify-content: left;
    background-color: #ffffff;
    width: fit-content;

}

.btn-stl {
    font-size: medium;
    width: 150px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sel-col {
    width: 150px;
    height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}